name: promote

on:
  workflow_dispatch:
    inputs:
      source_env:
        description: "Source environment (dev|qa)"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - qa
      target_env:
        description: "Target environment (qa|prod)"
        required: true
        default: "qa"
        type: choice
        options:
          - qa
          - prod
      manifest_root:
        description: "Manifests root folder (use '.' if none)"
        required: true
        default: "manifest-repo"

permissions:
  contents: write
  pull-requests: write

jobs:
  promote_by_git_change:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install yq (mikefarah v4)
        run: |
          set -euo pipefail
          YQ_VERSION="v4.44.3"
          sudo curl -fsSL -o /usr/local/bin/yq \
            "https://github.com/mikefarah/yq/releases/download/${YQ_VERSION}/yq_linux_amd64"
          sudo chmod +x /usr/local/bin/yq
          yq --version
      
      - name: Validate allowed promotion path
        run: | 
           set -euo pipefail
           SRC="${{ github.event.inputs.source_env }}"
           TGT="${{ github.event.inputs.target_env }}"
           if [ "${SRC}" = "dev" ] && [ "${TGT}" = "qa" ]; then exit 0; fi
           if [ "${SRC}" = "qa" ] && [ "${TGT}" = "prod" ]; then exit 0; fi
           echo $SRC
           echo $TGT
           echo "Invalid promotion path: ${SRC} -> ${TGT}"
           echo "Allowed: dev->qa, qa->prod"
           exit 1






 